@font-face {
    font-family: 'iranSanse';
    src: url('../fonts/AIranianSans.ttf') format('ttf');
    src: url('../fonts/AIranianSans.eot') format('eot');
    src: url('../fonts/AIranianSans.woff') format('woff');
}